@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    "Vazirmatn",
    "Noto Sans Arabic",
    Tahoma,
    Arial,
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    "Noto Sans",
    Helvetica,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ProseMirror {
  direction: rtl;
  text-align: right;
  unicode-bidi: plaintext;
}

.ProseMirror p {
  margin: 0;
}